@font-face {
    font-family: 'steamcito-emojis';
    src: url('chrome-extension://__MSG_@@extension_id__/emojis/steamcito-emojis.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/emojis/steamcito-emojis.eot?#iefix') format('embedded-opentype'),
         url('chrome-extension://__MSG_@@extension_id__/emojis/steamcito-emojis.woff') format('woff'),
         url('chrome-extension://__MSG_@@extension_id__/emojis/steamcito-emojis.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
}

.emojis{
    font-family:'steamcito-emojis';
    text-transform:uppercase;

    &.mate{
        color:red;
    }

    &.saldo{
        color:lightgreen;
    }
}

// CART 
.cart_area_body{
    .cart_item{
        min-height:90px;
    }

    #cart_estimated_total_text{
        opacity:0;
        height:0;
    }

    .estimated_total_extension{
        > div{
            display:flex;
            justify-content:space-between;
            margin-bottom:15px;
            font-weight:700;

            &.hide{
                display:none;
            }
        }
    }

    .tax-container{
        padding:16px;
        background: linear-gradient(90deg, #E4A01A 5.43%, #7E4400 100%);
        color: #ffffff;
        margin: 15px 0px 15px 0px;

        h3{
            margin-bottom:15px;
        }

        span.final-total{
            font-weight:700;
            padding-top:8px;
            display:block;
            text-align:right;
            border-top:1px solid #fff;
        }

        ul{
            li{
                list-style-type:none;
                display:flex;
                margin-bottom:10px;

                .value{
                    margin-left:auto;
                    font-weight:700;
                }

                a{
                    margin-left:10px;

                    &:hover{
                        color:#263645;
                    }
                }
            }
        }
    }
}

// TABS
.tab_content,.tab_content_ctn{
    .tab_item{
        .tab_item_discount{
            width:auto;

            .discount_prices{
                margin-left:12px;
            }
        }
    }
}

// CURADORES DE CONTENIDO Y PAGINA DE DEVELOPER
.curator{
    #RecommendationsRows{
        .store_capsule.price_inline{
            .discount_block{
                display:flex !important;
                min-width:fit-content !important;

                .discount_prices{
                    display:flex;
                }
            }
        }
    }
}   


.contenthub_specials_ctn{
    .discount_prices{
        display:flex !important;
        flex-direction:column;
    }
}

// BUNDLES (COMPLETE SET)
.bundle_package_item,.complete_the_set{
    .tab_item{
        .tab_item_discount{
            min-width:120px;
            width:auto;
            position:relative;
            z-index:100;
        }
    }
}


// URLS /SALE/
.promo_item_list{
    .price{
        span{

            &.was{
                margin-bottom:2px;
            }

            display:block;
            text-align:right;
        }
    }
}


// URLS /SUB/

.game_description_column,.sale_page_package_contents{
    .tab_item .tab_item_discount{
        min-width: 120px;
        width: auto;
        position: relative;
        z-index: 100;
    }
}

// Fix line-height en bundles
.discount_block.game_purchase_discount.no_discount .discount_final_price.your_price{
    height: 100%;
    display: flex;
    align-items: center;
}


// GIFT CARDS (/digitalgiftcards/selectgiftcard)

.giftcard_selection{
    .giftcard_corner{
        width:200px;
    }
}

// Checkout (Last Step)

#review_tab{
    .payment_method_review_row{

        .new-amount{
            position:absolute;
            right:0;
        }

        .new-amount + .payment_method_total{
            display:none !important;
        }

        .payment_method_review_method_label{
            margin-right:1em;
        }

        .payment_method_total{
            margin-right:0 !important;
            right:0 !important;
        }
    }

    .cart_totals_area{
        .new-amount{
            position:absolute;
            right:0;
            color:#c6d4df;
        }

        .new-amount + .price{
            display:none;
        }
    }
}

.transition-effect{
    transition:all 0.25s ease;
}

// Update Advice

.actualizacion-steamcito{
    color:#fff;
    font-family:'Motiva Sans',sans-serif;
    padding:10px 0;
    text-align:center;
    background:#4c6b22;
    margin-bottom:1em;

    a{
        font-weight:700;
        text-decoration:underline;
        margin-right:0.5em;
    }
}

