.cart_area_body .cart_item {
  min-height: 90px;
}

.cart_area_body #cart_estimated_total_text {
  opacity: 0;
  height: 0;
}

.cart_area_body .estimated_total_extension > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 700;
}

.cart_area_body .estimated_total_extension > div.hide {
  display: none;
}

.cart_area_body .tax-container {
  padding: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5.43%, #E4A01A), to(#7E4400));
  background: linear-gradient(90deg, #E4A01A 5.43%, #7E4400 100%);
  color: #ffffff;
  margin: 15px 0px 15px 0px;
}

.cart_area_body .tax-container h3 {
  margin-bottom: 15px;
}

.cart_area_body .tax-container span.final-total {
  font-weight: 700;
  padding-top: 8px;
  display: block;
  text-align: right;
  border-top: 1px solid #fff;
}

.cart_area_body .tax-container ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.cart_area_body .tax-container ul li .value {
  margin-left: auto;
  font-weight: 700;
}

.cart_area_body .tax-container ul li a {
  margin-left: 10px;
}

.cart_area_body .tax-container ul li a:hover {
  color: #263645;
}

.tab_content .tab_item .tab_item_discount, .tab_content_ctn .tab_item .tab_item_discount {
  width: auto;
}

.tab_content .tab_item .tab_item_discount .discount_prices, .tab_content_ctn .tab_item .tab_item_discount .discount_prices {
  margin-left: 12px;
}

.curator #RecommendationsRows .store_capsule.price_inline .discount_block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}

.curator #RecommendationsRows .store_capsule.price_inline .discount_block .discount_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenthub_specials_ctn .discount_prices {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bundle_package_item .tab_item .tab_item_discount, .complete_the_set .tab_item .tab_item_discount {
  min-width: 120px;
  width: auto;
}

#review_tab .payment_method_review_row .new-amount {
  position: absolute;
  right: 0;
}

#review_tab .payment_method_review_row .new-amount + .payment_method_total {
  display: none !important;
}

#review_tab .payment_method_review_row .payment_method_review_method_label {
  margin-right: 1em;
}

#review_tab .payment_method_review_row .payment_method_total {
  margin-right: 0 !important;
  right: 0 !important;
}

#review_tab .cart_totals_area .new-amount {
  position: absolute;
  right: 0;
  color: #c6d4df;
}

#review_tab .cart_totals_area .new-amount + .price {
  display: none;
}

.transition-effect {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*# sourceMappingURL=styles.css.map */