// CART 
.cart_area_body{
    .cart_item{
        min-height:90px;
    }

    #cart_estimated_total_text{
        opacity:0;
        height:0;
    }

    .estimated_total_extension{
        > div{
            display:flex;
            justify-content:space-between;
            margin-bottom:15px;
            font-weight:700;

            &.hide{
                display:none;
            }
        }
    }

    .tax-container{
        padding:16px;
        background: linear-gradient(90deg, #E4A01A 5.43%, #7E4400 100%);
        color: #ffffff;
        margin: 15px 0px 15px 0px;

        h3{
            margin-bottom:15px;
        }

        span.final-total{
            font-weight:700;
            padding-top:8px;
            display:block;
            text-align:right;
            border-top:1px solid #fff;
        }

        ul{
            li{
                list-style-type:none;
                display:flex;
                margin-bottom:10px;

                .value{
                    margin-left:auto;
                    font-weight:700;
                }

                a{
                    margin-left:10px;

                    &:hover{
                        color:#263645;
                    }
                }
            }
        }
    }
}


/*
.green{
    color:#a4d007;
}

@mixin mate{
    content: "🧉";
    font-size: 1.2em;
    display: flex;
    align-items: center;
    height: 100%;
    width: 16px;
    position: absolute;
    right: -0.9em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.mate{
    margin:0 12px;
    &:after{
        @include mate;
    }
}

.game_purchase_action_bg.mate{
    &:after{
        display:none;
    }

    .game_purchase_price{
        margin-right:20px;
    }

    .game_purchase_price:after{
        @include mate;
    }


}



.discount_prices{
    position:relative;

            .discount_final_price:not([data-original-price=none]){


                &.wallet-available{
                    font-size:13px;
                }
            }
}


// HOME ITEMS
.home_content_items,.app_impression_tracked{
    .discount_block_inline{
        .discount_prices{
            .discount_final_price[data-original-price=none]{
                margin-left:0.45em;
                font-size:11px !important;
            }
            
            .discount_final_price:not([data-original-price=none]){
                font-size:11px !important;
            }
        }
    }
}





.marketingmessage_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .home_marketing_message{
        height:235px;
    
        .discount_block{
            height:auto;
    
            .discount_prices{
                display: flex;
                flex-direction: column;
            }
    
        }
    
    }
}


.discount_block{
    display:flex !important;

    .discount_pct{
        display:flex !important;
        align-items:center;
        font-size:20px !important;
    }

    > .discount_prices{
        background-color:#000;
        display:flex !important;
        flex-direction:column;
    }
} 

.game_page_autocollapse{
    .game_area_description{
        iframe{
            display:none;
        }
    }
}

// CARRUSEL DENTRO DE UN JUEGO
.store_horizontal_autoslider_ctn{
    height:fit-content !important;

    .home_specials_grid,.store_horizontal_autoslider{
        overflow-x:hidden !important; 

        .store_capsule{
            height:auto;

            .discount_block{
                min-height:51px;
            }
        }

        .special{
            height:auto;
        }
    }

    .block_content{
        display:flex; 

        a{
            height:auto !important;
        }
    }
}


// CURADORES DE CONTENIDO
.curator{
    #RecommendationsRows{
        .store_capsule.price_inline{
            .discount_block{
                width:100%;

                .discount_prices{
                    display:flex;
                    flex-direction:row;
                }
            }
        }
    }
}   


.highlight_description{

    .regular_price:not([data-original-price=none]){
        text-decoration:line-through;
    }

    .game_purchase_discount{
        height:100%;
        overflow:visible;

        .discount_prices{
            height:100%;

            .discount_final_price[data-original-price=none]{
                padding-top:0;
            }
        }

        .discount_pct{
            height: auto;
        }
    }
}

// WISHLIST
#wishlist_ctn{
    .wishlist_row{
        .purchase_area{

            .discount_block, .discount_block_large{

                .discount_prices{
                    div{
                        height:100%;
                        display:flex;
                        align-items:center;
                        margin-top:0;
                    }
                }

                .discount_pct{
                }
            }

            .btn_green_steamui,.btn_blue_steamui{
                display:flex;

                span{
                    display:flex;
                    align-items:center;
                }
            }
        }
    }
}


// FICHA DE COMPRA
.game_purchase_action{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    bottom:-24px !important;
    left:auto !important;

    .game_purchase_action_bg{
        display:flex;
        align-items:center;


        .game_purchase_price:not([data-original-price=none]):first-child{
            // text-decoration:line-through;
        }

        .game_purchase_discount{

            .discount_pct{

            }

            .discount_prices{
                height: 100%;
                display: flex !important;
                flex-direction: column;
                justify-content: center;

                .discount_final_price{


                    .your_price_label{
                        display:none;
                    }
                }

                .discount_final_price[data-original-price=none]{
                    padding-top:0;
                    line-height:normal;
                }
            }

            .bundle_base_discount{
                line-height: normal;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        .btn_addtocart{
            span{
            }
        }
    }
}


// DLCS
#dlc_purchase_action{
    &.game_purchase_action_bg{
        .game_purchase_price:first-child{
            text-decoration:line-through;  
        }
    }
}


// BUSCADOR
#searchterm_options{
    .match_price{
        position:relative;
        display:inline;

        &.wallet-available{
            color:#577180;
        }

        &.price{
            margin-left:12px;
            text-decoration:none;
        }

        &:not([data-original-price=none]){
           // text-decoration:line-through;
        }
    }
    
}


// MICROSITIO SALE
div[class*=salepreviewwidgets_OuterCapsuleContainer]{
    div[class*=salepreviewwidgets_CapsuleContainer]{
        div[class*=salepreviewwidgets_CapsuleBottomBar]{
            height:auto !important;

            div[class*=salepreviewwidgets_Discounted]{
                align-items:stretch;

                span[class*=salepreviewwidgets_BaseDiscount]{
                    display:none;
                }
            }
        }
    }
}


// DLCs
.gameDlcBlocks,#game_area_dlc_expanded{
    .game_area_dlc_row{
        display:flex;
        flex-direction:row-reverse;
        align-items:center;
    
        .game_area_dlc_name{
            margin-right:auto;
        }
    
        .game_area_dlc_price{
            align-self:stretch;
            background-color:#000;
            padding:5px 8px;
            font-size:11px;
            position:relative;
            right:0;
            top:0;

            &.dlc_price{
            }




        
            .discount_block{

                .discount_prices{
                    flex-direction:row;

                    .discount_final_price[data-original-price=none]{
                        display:none;
                    }
                }
            }
        
            .oldprice{
                text-decoration:line-through;
                margin-right:10px;
                color:#626366 !important;
        
            }
        }
    }
}


// DAILY DEALS
.contenthub_dailydeal_container{
    .dailydeal_ctn{
        height:205px;
    }
}



.wallet-available{
    text-decoration:none !important;
    color:#a4d007 !important;
}


// BUNDLES
.bundle_package_item{
    .tab_item{
        display:flex;
        align-items:center;
        
        .tab_item_discount{
            width:auto;
            margin-top:0;
            order:3;
            margin-left:auto;

            .discount_pct{
                margin-top:0;
            }

            .discount_prices{
                padding:5px;
                min-width:90px;
            }
        }

    }
}


// TABS
.tab_content,.tab_content_ctn{
    .tab_item{

        .discount_prices.mate:after{
            right:-1.3em !important;
        }


        &.focus{
            .wallet-available{
                color:#4c6b22 !important;
            }

            .tab_item_discount{
                .discount_final_price[data-original-price=none]{
                    color:#263645;
                }
            }

        }

        .tab_item_discount{
            width:auto;

            .discount_final_price[data-original-price=none]{
                color:#acdbf5;
            }

            .discount_pct{
                margin-right:12px;
                margin-top:0;
            }
        }
    }
}

.similar_grid_price{
    .regular_price{
        &:first-child{
            // text-decoration:line-through;
        }
        &[data-original-price=none]{
            text-decoration:none;
        }
    }
}


// RESULTADOS DE BUSQUEDA
#search_result_container{
    .search_result_row{
        display:flex;
        height:auto;

        .search_capsule{
            display: flex;
            align-items: center;
        }

        .responsive_search_name_combined{
            display:flex;
            flex-direction:row;
            align-items:center;
        }

        .search_price_discount_combined{
            text-align:right;

            .responsive_secondrow{
                padding-top:9px;

                &:not([data-original-price=none]){
                    text-decoration:line-through;
                }


            }
        }

        .search_price[data-original-price=none]{
            padding-bottom:9px;
        }
        
        .col{
            height:auto;
            line-height:normal !important;
        }
    }
}



.carousel_container{

    .carousel_thumbs{
        position:relative;
        z-index:1;
        margin-top:30px;
        
    }

    .carousel_items{

        .focus{
            display:flex;
        }

        &.store_capsule_container{
            overflow-x:visible !important;
            overflow-y:visible !important;
        }

        .daily_deal_discount{
            float:left;
        }

}




}  

*/