html{
    scroll-behavior: smooth;
}


*{
    font-family:'Poppins',sans-serif;
}

.vh-1000{
    min-height:100vh;
}

$mobile:768px;

.hero{
    background-image:url('../img/steamcito-hero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    background-position:right;
    position:relative;

    @media(max-width:$mobile){
        background-image:none;
        min-height:auto;
        height:auto;
    }

    .discover{
        position:absolute;
        bottom:1em;
        left:50%;
        transform:translatex(-50%);
        color:#212529;
        transition:all 0.25s ease;
        text-align:center;

        &:hover{
            text-decoration:none;
            transform:translatex(-50%) scale(1.10);
            font-weight:bold;
        }
    }

}

.nav{
    left:0;
    top:2em;

    ul{
        padding-left:15px;
        li{
            margin-right:1.5em;

            list-style-type:none;
            a{  
                color:#000;
                text-transform:uppercase;
            }
        }
    }
}

.howto{
    img{
        max-width:80%;
    }
}

.features{
    img,video{
        border-radius:20px;
    }
}

.faq{
    background-color:#f7f7f9;

    .card-header{
        h5{
            button{
                width:100%;
                text-align:left;
                color:#212529;
            }
        }
    }
}

.changelog{
    ul{
        padding-left:0;
        li{
            list-style-type:none;
        }
    }
}

h1{
    font-size:5em;

    @media(max-width:$mobile){
        font-size:3em;
    }
}


#footer{
    background-color:#333;
    color:#fff;

    a{
        color:#fff;
    }
}

